[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
pymem = "*"
requests = "*"
untangle = "*"
obs-websocket-py = "*"
pywin32 = "*"

[requires]
python_version = "3.7"

[scripts]
obsscript = "python tricky_towers_util.py"
