[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "~=2.4.1"
yapf = "~=0.28.0"
pyinstaller = "~=3.5"

[packages]
pymem = "~=1.0"
pywin32 = "==228"
flask = "~=1.0.2"
flask-socketio = "~=4.3.1"
gevent = "~=20.6.2"
gevent-websocket = "~=0.10.1"
socketio-client = "~=0.7.2"
chardet = "~=3.0.4"
watchdog = "~=0.9.0"

[requires]
python_version = "3.7"

[scripts]
server = "python server.py"
observer = "python observer.py"
gui = "python gui.py"
web = "yarn watch"
build-observer= "pyinstaller -F observer.py"
build-server= "pyinstaller -F server.py --add-data \"static;static\" --hidden-import=\"engineio.async_drivers.gevent\""
build-gui= "pyinstaller -F -w gui.py"
build-web = "yarn build"
