[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pyinstaller = "*"

[packages]
pymem = "*"
pywin32 = "*"
flask = "*"
flask-socketio = "*"
gevent = "*"
socketio-client = "*"
chardet = "*"
watchdog = "*"

[requires]
python_version = "3.7"

[scripts]
server = "python server.py"
observer = "python observer.py"
build-observer= "pyinstaller -F observer.py"
build-server= "pyinstaller -F server.py --add-data \"static;static\" --hidden-import=\"engineio.async_drivers.gevent\""
