<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>Overlay for Tricky Towers</title>
  <style></style>
</head>
<body>
<p>hello</p>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='js/overlay.js') }}"></script>
</body>
</html>