<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>Overlay for Tricky Towers</title>
  <style></style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/overlay.css') }}">
</head>
<body>
  <div id="overlayContainer">
    <img class="bg" src="{{ url_for('static', filename='img/test4.jpg') }}"/>
    {# <img class="bg" src="{{ url_for('static', filename='img/test3.jpg') }}"/> #}
    {# <img class="bg" src="{{ url_for('static', filename='img/test2.jpg') }}"/> #}
    <div class="player-names hidden p4">
      <div class="player-name-box highlight"><div class="name"><p>Nesswit</p></div></div>
      <div class="player-name-box"><div class="name"><p>KoreanTrickyTowersUnion</p></div></div>
      <div class="player-name-box"><div class="name"><p>SHRT</p></div></div>
      <div class="player-name-box"><div class="name"><p>?</p></div></div>
    </div>
  </div>
  <div id="toast">
    <div id="configErrorMsgBox" class="message-box">
      <p>설정 정보를 불러올 수 없습니다.</p>
    </div>
    <div id="socketNotConnectedMsgBox" class="message-box on">
      <p>서버와 연결되지 않았습니다.</p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/fitty.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/overlay.js') }}"></script>
</body>
</html>